* {
  margin: 0;
  padding: 0;
}

.galaxy {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: calc(50vw - 100px);
  gap: 10px;
  color: white;
  background-color: #010057;
}

.planet {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-image: url("");
  flex-shrink: 0;
  position: relative;
}
.planet--mercury {
  width: 7.6px;
  height: 7.6px;
  border-radius: 100%;
  background-image: url("../img/mercury.svg");
  flex-shrink: 0;
  position: relative;
  transform-origin: -110px calc(7.6px / 2);
  animation: animation-rotate 1s linear infinite;
}
.planet--venus {
  width: 19px;
  height: 19px;
  border-radius: 100%;
  background-image: url("../img/venus.svg");
  flex-shrink: 0;
  position: relative;
  transform-origin: -127.6px calc(19px / 2);
  animation: animation-rotate 3s linear infinite;
}
.planet--earth {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-image: url("../img/earth.svg");
  flex-shrink: 0;
  position: relative;
  transform-origin: -156.6px calc(20px / 2);
  animation: animation-rotate 4s linear infinite;
}
.planet--mars {
  width: 10.6px;
  height: 10.6px;
  border-radius: 100%;
  background-image: url("../img/mars.svg");
  flex-shrink: 0;
  position: relative;
  transform-origin: -186.6px calc(10.6px / 2);
  animation: animation-rotate 7s linear infinite;
}
.planet--jupiter {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  background-image: url("../img/jupiter.svg");
  flex-shrink: 0;
  position: relative;
  transform-origin: -207.2px calc(140px / 2);
  animation: animation-rotate 20s linear infinite;
}
.planet--saturne {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-image: url("../img/saturne.svg");
  flex-shrink: 0;
  position: relative;
  transform-origin: -357.2px calc(100px / 2);
  animation: animation-rotate 50s linear infinite;
  border-radius: 0;
}
.planet--uranus {
  width: 79.6px;
  height: 79.6px;
  border-radius: 100%;
  background-image: url("../img/uranus.svg");
  flex-shrink: 0;
  position: relative;
  transform-origin: -467.2px calc(79.6px / 2);
  animation: animation-rotate 150s linear infinite;
  border-radius: 0;
}
.planet--neptune {
  width: 77.4px;
  height: 77.4px;
  border-radius: 100%;
  background-image: url("../img/neptune.svg");
  flex-shrink: 0;
  position: relative;
  transform-origin: -556.8px calc(77.4px / 2);
  animation: animation-rotate 300s linear infinite;
}

@keyframes rotation-planet {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.sun {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-image: url("../img/sun.svg");
  flex-shrink: 0;
  position: relative;
  animation: rotation-sun 30s linear infinite;
}

@keyframes rotation-sun {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.satellite, .satellite--deimos, .satellite--phobos, .satellite--moon {
  position: absolute;
  background-color: grey;
}
.satellite--moon {
  width: 5.4px;
  height: 5.4px;
  border-radius: 100%;
  background-image: url("");
  flex-shrink: 0;
  position: relative;
  transform-origin: 10px 10px;
  animation: animation-rotate 5s linear infinite;
}
.satellite--phobos {
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background-image: url("");
  flex-shrink: 0;
  position: relative;
  transform-origin: 5.3px 5.3px;
  animation: animation-rotate 2s linear infinite;
}
.satellite--deimos {
  width: 2.4px;
  height: 2.4px;
  border-radius: 100%;
  background-image: url("");
  flex-shrink: 0;
  position: relative;
  left: 10px;
  top: 10px;
  transform-origin: -4.7px -4.7px;
  animation: animation-rotate 3s linear infinite;
}

@keyframes animation-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=main.css.map */