
  @use "../abstracts/_all" as abstracts
.galaxy
  height: 100vh
  display: flex
  align-items: center
  justify-content: start
  margin-left: calc( 50vw - (abstracts.$sun-size / 2)  )
  gap: abstracts.$gap-between-planets
  color: white
  background-color: #010057